:root {
  --primary: #181A18;
  --secondary: #F5F5F5;
  /*--header-background: black;*/
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  color: var(--primary);
}

.App-Header {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  color: var(--secondary);
  background-color: var(--primary);
}

.App-Header-Page {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--secondary);
}

.Head-Switch {
  height: inherit;
  width: 0vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  color: var(--secondary);
  background-color: var(--primary);
}